body {
	background-color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	color:	#161616;
	line-height: 1em;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: -.03em;
	word-spacing: -.05em;
	padding-top: 20px;
	padding-bottom:20px;
	padding-left: 20px;
	padding-right: 20px;
}

h1 {
	font-family: 'Kristi', cursive;
	font-size: 100px;
	text-align: center;
	color: #000000;
}

h1.test {
	font-family: 'Kristi', cursive;
	font-size: 100px;
	text-align: center;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

h2 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 40px;
	text-align: left;
	color: #000000;
}

h3 {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 20px;
	text-align: left;
	color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
	transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
}

#img_box {
	max-width: 275px;
	padding-bottom: 20px;
	max-height: 500px;
}

img.centerImg {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-bottom: 20px;
	max-height: 500px;
}

iframe.centerImg {
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding-bottom: 20px;
}

#img_box2 {
	max-width: 550px;
	padding-bottom: 20px;
	max-height: 500px;
}

#img_box2_center {
	max-width: 550px;
	padding-bottom: 20px;
	max-height: 500px;
	align: middle;
}

#img_box3 {
	max-width: 380px;
	max-height: 500px;
	padding-bottom: 20px;
}

#inline-with-text {
	max-width: 400px;
}

.col-sm-3:hover span.img-caption-text{
	opacity:.65;
	filter:alpha(opacity=55);
	background-color:#ffffff;
}

span.img-caption-text {
	color:#000000;
	width:285px;
    height:285px;
    overflow:hidden;
    position:absolute;
    left:15px;
    top:0px;
    z-index:95;
    font-family: 'Roboto Condensed', sans-serif;
	font-size:22px;
	letter-spacing: -.03em;
	word-spacing: -.05em;
	line-height: 1em;
	text-align: left;
  	background-color:transparent;
  	filter:alpha(opacity=0);
  	padding:15px 15px;
  	opacity:0;
  	-webkit-transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-o-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
	transition: opacity .25s ease-in-out;
}

.linksNavBar {
	float: right;
}

.linksNavBarTest {
	float: center;
}

a.navLink {
	color: #000000;
	text-decoration: none;
	transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
}

a.navLinkTest {
	color: white;
	text-decoration: none;
	transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
}

a.navLink:hover {
	color: #81d8d0;
	text-decoration: line-through;
}

a.pageLink {
	color: #81d8d0;
	text-decoration: none;
	transition: color .1s ease-in-out;
	-webkit-transition: color .1s ease-in-out;
	-moz-transition: color .1s ease-in-out;
	-o-transition: color .1s ease-in-out;
	-ms-transition: color .1s ease-in-out;
}

a.pageLink:visited {
	color: #81d8d0;
	text-decoration: none;
}

a.pageLink:hover {
	color: #81d8d0;
	text-decoration: line-through;
}

.headingTitle {
	margin-bottom: 50px;
}

a.titleLink {
	text-decoration: none;
}

a.titleLink:hover {
	text-decoration: none;
	color: black;
}

.video_container {
	margin: auto;
}

.video_overlay {
	position: absolute;
	width: 100%;
}

.custom_container {
	margin: auto;
	padding-left: 125px;
	padding-right: 125px;
}

}

